.cell{
	cursor:pointer;	
}
.piece{
	width: 90%;
	user-select: none;
}

.pieceContainer{
	height: 90%;
	width: 90%;
	border-radius: 50% 50%;
	text-align: center;

}
.notValidMove{
	border: 0.3vmax solid rgba(27, 204, 27, 0);
	background-color: rgba(10, 136, 10, 0);
}
.validMove{
	border: 0.3vmax solid rgb(27, 204, 27);
	background-color: rgba(10, 136, 10, 0.335);
}
