.cell{
	cursor:pointer;	
}
.piece{
  font-size: calc(0.75rem + 1vmax );

	user-select: none;
	position:relative;
	padding:15%;
	top:33%;
}

.pieceContainer{
	height: 90%;
	width: 90%;
	border-radius: 50% 50%;
	text-align: center;

}
.notValidMove{
	border: 0.3vmax solid rgba(27, 204, 27, 0);
	background-color: rgba(10, 136, 10, 0);
}
.validMove{
	border: 0.3vmax solid rgb(27, 204, 27);
	background-color: rgba(10, 136, 10, 0.335);
}
