.cell{
	background-color:darksalmon;
	float:left;
	text-align: center;
	cursor:pointer;	
}
.cell > *{
	font-size:2vw;

	display:inline;
	user-select: none;
	position:relative;
	padding:1vw;
	top:2vw;
}