.cell{
	float:left;
	cursor:pointer;	
}
.piece{
	font-size:1.2rem;

	user-select: none;
	position:relative;
	padding:1vw;
	top:35%;
}
.notValidMove{
	height: 90%;
	width: 90%;
	text-align: center;
	position: relative;
	top:5%;
	left:5%;
}
.validMove{
	height: 90%;
	width: 90%;
	text-align: center;
	position: relative;

	border-radius: 50% 50%;
	border: 4px solid rgb(27, 204, 27);
	background-color: rgba(10, 136, 10, 0.335);
	top:0;
	left:0;

}
